<div class="mat-app-background">
  <mat-toolbar color="primary">
    <button mat-button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu-custom3">
      <button  mat-menu-item (click)="handleClick($event, city)" *ngFor="let city of cities">
        <mat-icon>location_city</mat-icon>
        <span>{{ city.name }}</span>
      </button>
    </mat-menu>
    <span>Stadtauswahl</span>
    <span class="example-spacer"></span>
    <span class="headline">Altglascontainer Übersicht</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <div id="map">
    <agm-map [latitude]="default_lat" [longitude]="default_lng" [zoom]="default_zoom">
      <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker [latitude]="location.lat" [longitude]="location.lng" *ngFor="let location of locations"></agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>
  <div id="footer">

  </div>
</div>

